<div class="row">
    <div class="col-md-12">
        <form method="POST" id="analyzeForm">
            <div class="mb-3">
                <!-- CSRF Token -->
                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                />
                <input
                    type="text"
                    class="form-control form-control-lg"
                    id="url"
                    name="url"
                    placeholder="Enter a URL"
                    required
                />
            </div>
            <div class="d-flex align-items-center">
                <button
                    type="submit"
                    class="btn btn-primary btn-lg btn-block"
                    id="submitButton"
                >
                    Submit
                </button>
                <div
                    id="spinner"
                    class="spinner-border text-primary ms-2"
                    style="display: none"
                    role="status"
                >
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
